{
  "language": "typescript",
  "locale": "pt-BR",
  "baseDir": "src",
  "outputDir": "",
  "defaultTypes": [
    "entity",
    "repository",
    "use-case",
    "enum"
  ],
  "templates": {
    "entity": {
      "enabled": true,
      "folder": "entities",
      "suffix": ".entity",
      "template": "entity"
    },
    "repository": {
      "enabled": true,
      "folder": "repositories",
      "suffix": ".repository",
      "template": "repository"
    },
    "use-case": {
      "enabled": true,
      "folder": "use-cases",
      "suffix": ".use-case",
      "template": "use-case"
    },
    "enum": {
      "enabled": true,
      "folder": "enums",
      "suffix": ".enum",
      "template": "enum"
    },
    "component": {
      "enabled": false,
      "folder": "components",
      "suffix": "",
      "template": "component"
    },
    "hook": {
      "enabled": false,
      "folder": "hooks",
      "suffix": "",
      "template": "hook"
    }
  },
  "createIndex": true,
  "indexExports": true
}
