import React from 'react';

interface {{FEATURE_NAME}}Props {
  // TODO: Add props
}

export const {{FEATURE_NAME}}: React.FC<{{FEATURE_NAME}}Props> = (props) => {
  return (
    <div>
      <h1>{{FEATURE_NAME}}</h1>
    </div>
  );
};
